<div class="container">
    <!-- Total Number of Staff -->
    <div class="row mb-3">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total Number of Staff</h5>
                    <p class="card-text" [ngStyle]="{'color': totalItems > 0 ? 'green' : 'red', 'font-size': '2rem', 'animation': totalItems > 0 ? 'increase 1s ease-in-out' : 'decrease 1s ease-in-out'}">{{ totalItems }}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Define CSS Animation -->

</div>

   